<ul>
    <img src="img/logo.png" alt="HAXX" >
    <li><a href="http://localhost:3000/">ACCUEIL</a></li>
    <li><a href="http://localhost:3000/membres">MEMBRES</a></li>
    <li><a href="http://localhost:3000/project">PROJETS</a></li>
    <li><a href="http://localhost:3000/evenement">ÉVÉNEMENT</a></li>
    <li><a href="http://localhost:3000/log&sign"><b>CONNEXION /INCRISPTION</b></a></li>
</ul>