* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;

    background-image: url("../img/bghome.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #141414;
}

/* Haut de tête */
header {
    display: flex;
    justify-content: center;

    width: 55%;

    margin: 15px auto;
    padding: 10px;

    border: white solid 2px;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.1);
}

header img {
    width: 75px;
    height: auto;
}

header ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: whitesmoke;
    text-decoration: none;
}


/* Contenue */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 65%;
    text-align: center;

    padding: 150px;
    margin: auto;

    border: white solid 0;
    border-radius: 300px;

    position: relative;
    overflow: hidden;

    background-image: url("../img/bg1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main::before {
    content: ""; /* Obligatoire pour afficher l'élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.7);
    border-radius: 100px;
    z-index: 0;
}

main * {
    position: relative;
    z-index: 1;
}

h1, h2 {
    font-size: 48px;
}



/* pied de page */
footer {
    display: flex;
    justify-content: center;

    color: white;

    border: white solid 2px;
    border-radius: 25px;

    width: 25%;

    margin: 15px auto;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.1);
   
}